* {
    outline: none;
}

*:focus {
    box-shadow: none !important;
    outline: none;
}

a {
    color: #000;
}

a:active, a:hover {
    color: #999;
}

#login {
    box-sizing: border-box;
    padding: 10% 0 5% 0;
    width: 300px;
}

body.interim-login h1 {
    display: none !important;
}

.login #login_error,
.login .message {
    font-size: 14px;
}

body:not(.interim-login) #login_error,
body:not(.interim-login) .message {
    left: 0;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
}

.login form {
    background: transparent;
    box-shadow: none;
    padding: 20px 30px 30px 30px;
    transition: all .35s;
}

.login form:hover {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

.login #nav,
.login #backtoblog {
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.login #nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.login #backtoblog {
    bottom: 20px;
    left: 20px;
    position: fixed;
}

.login #backtoblog a, .login #nav a {
    color: #666;
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
    color: #000;
}

.login form .forgetmenot {
    display: none !important;
}

.login form .input {
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    margin: 5px 0 20px 0;
    padding: 10px;
    width: 100%;
}

.login form .input:focus {
    border-color: #000;
}

#login form p.submit input[type="submit"] {
    /*background-color: #0098ed;*/
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: none;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    margin: 10px 0 0 0;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
