html.admin-bar {
    margin-top: 32px;
}

* html.admin-bar body {
    margin-top: 32px;
}

@media screen and ( max-width: 782px ) {
    html.admin-bar {
        margin-top: 46px;
    }

    * html.admin-bar body {
        margin-top: 46px;
    }
}

/* Updater */

#wp-admin-bar-nanga-updates > .ab-item:before {
    content: '\f463';
    top: 2px;
}

#wpadminbar ul li#wp-admin-bar-nanga-updates__settings {
    padding-bottom: 10px;
}

#wpadminbar ul li.nanga-updates__count {
    background-color: #f1f1f1;
    border-top: 1px solid #e1e1e1;
}

#wpadminbar .quicklinks .menupop ul li.nanga-updates__count .ab-item {
    color: #000;
    height: 32px;
    line-height: 32px;
    min-width: 0;
    white-space: normal;
}

#wpadminbar .quicklinks .menupop ul li.nanga-updates__count .ab-item .count {
    color: #0098ed;
    float: right;
    font-weight: bold;
}

/* Updater EOF */

#wp-admin-bar-nanga-debug > .ab-item:before {
    content: '\f468';
    top: 2px;
}

#wp-admin-bar-nanga-tools > .ab-item:before {
    content: '\f107';
    top: 2px;
}

#wp-admin-bar-nanga-settings > .ab-item:before {
    content: '\f108';
    top: 2px;
}

#wp-admin-bar-nanga-analytics > .ab-item:before {
    content: '\f239';
    top: 2px;
}

#wp-admin-bar-nanga-support > .ab-item:before {
    content: '\f488';
    top: 2px;
}

#wp-admin-bar-clear-cache > .ab-item:before {
    content: '\f182';
    top: 1px;
}

#wpadminbar .bbl_lang > .ab-item:before {
    content: '\f326';
    top: 2px;
}

#wp-admin-bar-WPML_ALS > div:first-child:before {
    content: '\f326';
}

#wp-admin-bar-WPML_ALS img {
    display: none !important;
}

#wpadminbar:not(.mobile) .ab-top-menu > li#wp-admin-bar-nanga-heartbeat:hover > .ab-item {
    background-color: transparent;
}

#wp-admin-bar-nanga-heartbeat .ab-icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-image: none !important;
    float: left;
    font: normal 20px/1 dashicons;
    margin: 6px 0;
    padding: 0px;
    position: relative;
    speak: none;
}

#wp-admin-bar-nanga-heartbeat .ab-icon:before {
    color: #db403f;
    content: '\f487';
}

#wpadminbar li#wp-admin-bar-nanga-heartbeat:hover .ab-icon:before {
    color: #db403f;
}

@keyframes beat {
    from {
        transform: none;
    }
    50% {
        transform: scale(0.8);
    }
    to {
        transform: none;
    }
}

@keyframes pound {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.1);
    }
    to {
        transform: none;
    }
}

#wp-admin-bar-nanga-heartbeat .ab-icon:not(.beat) {
    animation: beat 2s infinite;
}

#wp-admin-bar-nanga-heartbeat .ab-icon.beat {
    animation: pound 0.5s infinite;
}

@media screen and ( max-width: 1100px ) {
    #wp-admin-bar-nanga-tools > .ab-item,
    #wp-admin-bar-nanga-analytics > .ab-item,
    #wp-admin-bar-nanga-debug > .ab-item {
        font-size: 0;
    }
}

#nanga-bar-toggle {
    bottom: 20px;
    color: #999;
    cursor: pointer;
    display: block;
    font-size: 32px;
    height: 32px;
    left: 20px;
    opacity: 0.5;
    position: fixed;
    text-decoration: none;
    width: 32px;
    z-index: 99999;
}

#nanga-bar-toggle:hover {
    opacity: 1;
}
