html{
    background-image:url(../img/polygons.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.acf-field{
    height:200px;
    /*padding:105px 20px 50px 20px !important;*/
}
#post-body.columns-2 #postbox-container-1{
    float:none;
    margin-right:0;
    width:100%;
}
#poststuff #post-body.columns-2 #side-sortables{
    width:100%;
}
#post-body-content{
    float:none;
}
#poststuff #post-body.columns-2{
    margin-right:0;
}
#screen-meta,
#screen-meta-links,
#wpfooter{
    display:none;
}
