a:active,
a:focus {
    outline: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wpadminbar #wp-admin-bar-my-sites > .ab-item:before,
#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
    top: auto;
}

#wpadminbar #wp-admin-bar-nanga-visit-site > .ab-item:before {
    content: '\f177' !important;
}

#wpadminbar #wp-admin-bar-nanga-links > .ab-item:before {
    content: '\f239' !important;
}

#wpadminbar #wp-admin-bar-logout > .ab-item:before,
#wpadminbar #wp-admin-bar-nanga-logout > .ab-item:before {
    content: '\f160' !important;
}

#wpadminbar #wp-admin-bar-nanga-tools > .ab-item:before {
    content: '\f511' !important;
}

#wpadminbar #wp-admin-bar-get-help > .ab-item:before {
    content: '\f488' !important;
}

#wpadminbar .bbl_lang > .ab-item:before {
    content: '\f326' !important;
}

.js .postbox .hndle,
.js .widget .widget-top {
    cursor: default;
}

.postbox .handlediv {
    display: none;
}

.tablenav .view-switch {
    display: none;
}

.fixed .column-icon {
    width: 60px;
}

#wpml_als_help_link {
    display: none;
}
